* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    border-radius: 9px;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
}

.calc-container {
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 600px;
    background-color: black;
    border: 3px solid black;
}

.buttons {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.output, .operations,
.high-nums, .mid-nums, .low-nums, .btm-row {
    display: flex;
    height: 100px;
}

.nums-container {
    display: flex;
    flex-direction: column;
    flex: 3;
}

.output p, .operations button,
.high-nums button, .mid-nums button, .low-nums button, .btm-row button {
    flex: auto;
    border: 1px solid black;
    text-align: center;
}

.high-nums, .mid-nums, .low-nums, .btm-row {
    height: 100%;

}

.operations button {
    width: 100px;
}

.output {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border: 1px solid black;
    padding-right: 30px;
    font-size: 54px;
    font-weight: bold;
    background-color: #1F3095;
    color: #FFFFFF
}

.operations button {
    background-color: #96577F;
    font-size: 30px;
    font-weight: bold;
}

.high-nums button, .mid-nums button, .low-nums button, .btm-row button {
    background-color: #FA8E44;
    font-size: 30px;;
}

.btm-row button {
    width: 200px;
}

.operations button:hover, .high-nums button:hover, .mid-nums button:hover,
.low-nums button:hover, .btm-row button:hover {
    border: 1.5px solid white;
} 

#clear, #del {
    font-weight: 100;
}

#dec, #equal {
    font-weight: bold;
}

#equal {
    background-color: #96577F;
}